@model SalesWebMvc.Models.ViewModels.SellerFormViewModel

@{
    ViewData["Title"] = "Adicionar";
}

<h2>@ViewData["Title"]</h2>

<h4>Produtos da venda</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SalesProducts">

            <div class="form-group">
                <label asp-for="Product.Id" class="control-label">Produtos</label>
                <select asp-for="Product.Id" asp-items="@(new SelectList(Model.ProductsColetion, "Id","Name"));" class="form-control"></select>
            </div>

            <div class="form-group">
                <input type="submit" value="Adicionar" class="btn btn-default" />
            </div>
            <label class="control-label">Vendedor(a): @Model.SalesRecord.Seller.Name</label>
        </form>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
       
            <h3 class="panel-title">Total de produtos - @ViewData["TotalSales"]</h3>
       
    </div>
    @if (Model.SalesRepositoryList != null)
    {
        <div class="panel-body">
            <table class="table table-striped table-hover">
                <thead>
                    <tr class="success">
                        <th>
                            @Html.DisplayNameFor(model => model.SalesRepository.Product.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SalesRepository.Product.Value)
                        </th>
                        
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.SalesRepositoryList)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Product.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Product.Value)
                            </td>                           
                            <td>
                                <a asp-action="DeleteSalesRepository" asp-route-id="@item.Id" asp-route-id2="@item.SalesRecordId">Remover</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>


